<!DOCTYPE html>
<html lang="en">
  <head>
    <script defer src="https://analytics.conversegy.com/tracker.js" data-ackee-server="https://analytics.conversegy.com"
    data-ackee-domain-id="4660a731-cf84-4970-8274-a9ed2a7e7506"></script>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta name="author" content="{{author}}">
    <meta name="keywords" conntent="{{keywords}}">

    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/style.css"/>
  </head>
    <body class="font-mono">
    
      
        
  {{ content | safe }}

  {% include "./partials/footer.html" %}


  

    <script src="/static/js/main.js"></script>

    {% if path == "home" %}
      <!-- Netlify Identity Widget -->
      <!-- Needed only if you are using Netlify Identity feature -->
      <script type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}

  </body>
</html>