<section class="min-h-screen flex justify-around  bg-whit" id="contact">


    <div class="w-full sm:mx-auto flex items-center justify-center bg-white">
        <div class="rounded lg:px-28 px-8">
            <p class="md:text-3xl text-xl font-extrabold leading-7 text-center uppercase  py-5 ">Fill in the form & we'll get back to you
                shortly!</p>
            <!--Form Itself-->
            <form name="contact-homepage" method="POST" data-netlify="true" action="" >
                <div class="flex flex-col flex-grow justify-evenly">
                    <!--name-->
                    <div class="md:w-72 flex flex-col">
                        <label class="text-base font-semibold leading-none text-gray-800 mt-4">Name
        
                        </label>
                        <input tabindex="0" placeholder="Your name" type="name" name="name"
                            class="text-base leading-none text-blackish p-3 focus:oultine-none focus:border-indigo-700 mt-1 bg-gray-100 border rounded border-gray-200 placeholder-gray-100"
                            placeholder="Please input  name" />
                    </div>
                    <!--Email-->
                    <div class="md:w-72 flex flex-col">
                        <label class="text-base font-semibold leading-none text-gray-800 mt-4  ">Email Address</label>
                        <input tabindex="0" placeholder="Your email address" type="name" name="email"
                            class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-1 bg-gray-100 border rounded border-gray-200 placeholder-gray-100"
                            placeholder="Please input email address" />
                    </div>
                    <!--Phone-->
                    <div class="md:w-72 flex flex-col">
                        <label class="text-base font-semibold leading-none text-gray-800 mt-4  ">Phone</label>
                        <input tabindex="0" role="input" placeholder="Your phone number" type="name" name="phone"
                            class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-1 bg-gray-100 border rounded border-gray-200 placeholder-gray-100"
                            placeholder="Please input company name" />
                    </div>
                    <!--Message-->
                    <div class="w-full flex flex-col">
                        <label class="text-base font-semibold leading-none text-gray-800 mt-4  ">Message</label>
                        <textarea tabindex="0" placeholder="How can we help?" role="textbox" type="name" name="message"
                            class="h-28 text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-1 bg-gray-100 border rounded border-gray-200 placeholder-gray-100 resize-none"></textarea>
                    </div>
                    <p class="text-xs leading-3 text-gray-600 dark:text-gray-200 mt-2">By clicking submit you agree to our
                        terms of service & privacy policy</p>
                    <!--Button-->
                    <div class="flex items-center justify-center w-full py-5">
                        <button
                            class="mt-9 text-base font-semibold leading-none
                         text-white py-4 px-10 bg-purpleish rounded hover:bg-bubble-gumish focus:ring-2 focus:ring-offset-2 focus:ring-light-blueish focus:outline-none">SUBMIT</button>
                    </div>
                </div>
            </form>
        
    
        </div>
    </div>

</section>