<section class="flex flex-col justify-evenly min-h-screen bg-transparent
 text-purpleish font-lato">
  <div class="flex flex-col px-4 sm:px-0 mx-auto xs:w-5/6 md:w-3/4 
    font-black text-5xl md:text-7xl subpixel-antialiased">
    <h2 class="flex justify-start sm:justify-center font-lato">ON YOUR MARKS</h2>
    <h2 class="flex justify-self-start sm:justify-center">GET SET</h2>
    <h2 class="flex sm:justify-center">GROW!</h2>

  </div>
  <div class="area">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="flex">
    <div class="grid grid-row-9 sm:grid-cols-3 gap-4 p-4 sm:px-0 mx-auto xs:w-5/6 md:w-3/4 text-center">

      <div class="row-span-3 sm:col-span-1 py-4 flex items-center
          border-4 rounded-lg border-solid text-white hover:text-bubble-gumish border-purpleish  bg-purpleish">
        <a href="#recent-work" class="font-black mx-auto text-3xl" alt="Link to Recent work and projects">OUR WORK</a>
      </div>

      <div class="row-span-3 sm:col-span-1 py-4 flex items-center
          border-4 rounded-lg border-solid text-white hover:text-bubble-gumish border-purpleish  bg-purpleish">
        <a href="#contact" class="font-black mx-auto text-3xl" alt="Link to Recent work and projects">CONTACT</a>
      </div>
      <div class="row-span-3 sm:col-span-1 py-4 flex items-center
          border-4 rounded-lg border-solid text-white hover:text-bubble-gumish border-purpleish  bg-purpleish">
        <a href="#pricing" class="font-black mx-auto text-3xl" alt="Link to Recent work and projects">PROMO</a>
      </div>
    </div>
  </div>
</section>
