<section class="flex flex-col justify-between min-h-screen 
 bg-hero-home bg-cover bg-center
 text-white font-lato">
  <div class="flex flex-col px-4 sm:px-0 mx-auto xs:w-5/6 md:w-3/4 
    font-black text-5xl md:text-7xl subpixel-antialiased">
    <h1 class="flex justify-start sm:justify-center pt-12 md:pt-6 text-4xl sm:text-5xl md:text-7xl font-lato">CONVERSEGY</h1>
    <h2 class="hidden sm:flex justify-self-start sm:justify-center md:pt-3 text-white text-2xl md:text-4xl md:uppercase drop-shadow-2xl">Hand crafted business websites</h2>
    <h2 class="flex justify-self-start sm:justify-center sm:hidden  md:pt-3 text-white text-2xl md:text-4xl md:uppercase drop-shadow-2xl">Hand crafted websites</h2>
    <h2 class="flex justify-self-start sm:justify-center md:pt-3 text-white text-xl md:text-3xl md:uppercase drop-shadow-2xl">Original Bespoke  Designs</h2>
    <h2 class="flex justify-self-start sm:justify-center md:pt-3 text-white text-xl md:text-3xl md:uppercase drop-shadow-2xl">Zero BS.</h2>
  </div>
  <!--Background-->

  <!--div class="area z-10">
    <ul class="circles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div-->
  <!--CTA boxes-->
  <div class="flex">
    <div class="grid grid-row-9 sm:grid-cols-3 gap-4 p-4 sm:px-0 mx-auto xs:w-5/6 md:w-3/4 text-center">
      <!--Recent Work-->
      <div class="row-span-3 sm:col-span-1 py-4 flex items-center
        border-4 rounded-lg border-solid text-white hover:text-bubble-gumish border-white  bg-transparent">

        <a href="#recent-work" class="font-black mx-auto text-xl sm:text-3xl" alt="Link to Recent work and projects">OUR WORK</a>
      </div>

      <!--Contact-->
      <div class="row-span-3 sm:col-span-1 py-4 flex items-center
          border-4 rounded-lg border-solid text-white hover:text-bubble-gumish border-white  bg-transparent">
        <a href="#contact" class="font-black mx-auto text-xl sm:text-3xl" alt="Link to Recent work and projects">CONTACT</a>
      </div>
      <!--Packages-->
      <div class="row-span-3 sm:col-span-1 py-4 flex items-center
          border-4 rounded-lg border-solid text-white hover:text-bubble-gumish border-white  bg-transparent">
        <a href="#pricing" class="font-black mx-auto text-xl sm:text-3xl" alt="Link to Recent work and projects">PROMO</a>
      </div>
    </div>
  </div>

</section>
