<section class="flex flex-col justify-between min-h-screen 
 bg-hero-home bg-cover bg-center
 text-white font-lato">
  <div class="flex flex-col px-4 sm:px-0 md:px-4 mx-auto xs:w-5/6  
    font-black text-5xl md:text-7xl subpixel-antialiased">
    <h1 class="flex justify-start sm:justify-center pt-12 md:pt-6 lg:pt-4
      text-4xl sm:text-5xl md:text-7xl font-lato">CONVERSEGY</h1>
    <h2
      class="hidden md:flex justify-self-start sm:justify-center md:pt-3 text-white text-2xl md:text-4xl md:uppercase drop-shadow-2xl">
      Hand crafted business websites</h2>
    <h2
      class="flex justify-self-start sm:justify-center sm:hidden  md:pt-3 text-white text-2xl md:text-4xl md:uppercase drop-shadow-2xl">
      Hand crafted websites</h2>
    <h2
      class="flex justify-self-start sm:justify-center md:pt-3 text-white text-xl md:text-3xl md:uppercase drop-shadow-2xl">
      Original Bespoke Designs</h2>
    <h2
      class="flex justify-self-start sm:justify-center md:pt-3 text-white text-xl md:text-3xl md:uppercase drop-shadow-2xl">
      Zero BS.</h2>
  </div>

  <!--CTA boxes-->
  <div class="flex md:pb-10">
    <div class="grid grid-row-9 md:grid-cols-8 gap-4 p-4 sm:p-0 mx-auto 
      xs:w-1/2 sm:w-1/2 md:w-4/5 text-center">
      <div class="hidden md:flex md:col-span-1"></div>
      <!--Recent Work-->
      <div class="row-span-3 md:col-span-2 py-4 flex items-center
        border-4 rounded-lg border-solid text-white hover:text-bubble-gumish border-white  bg-transparent">

        <a href="#recent-work" class="font-black mx-auto text-xl sm:text-3xl" alt="Link to Recent work and projects">OUR
          WORK</a>
      </div>

      <!--Contact-->
      <div class="row-span-3 md:col-span-2 py-4 flex items-center
          border-4 rounded-lg border-solid text-white hover:text-bubble-gumish border-white  bg-transparent">
        <a href="#contact" class="font-black mx-auto text-xl sm:text-3xl"
          alt="Link to Recent work and projects">CONTACT</a>
      </div>
      <!--Packages-->
      <div class="row-span-3 md:col-span-2 py-4 flex items-center
          border-4 rounded-lg border-solid text-white hover:text-bubble-gumish border-white  bg-transparent">
        <a href="#pricing" class="font-black mx-auto text-xl sm:text-3xl"
          alt="Link to Recent work and projects">PROMO</a>
          <div class="hidden md:flex md:col-span-1"></div>
      </div>
    </div>
  </div>

</section>