<section class="" id="pricing">
  <div class="bg-dark-grayish min-h-screen">
    <div class="flex justify-around">
      <h2 class="text-3xl font-black text-white uppercase text-center py-12">Packages</h2>
    </div>
    <div class="container px-6 py-8 mx-auto">
      <div
        class="flex flex-col items-center justify-center space-y-8 lg:-mx-4 lg:flex-row lg:items-stretch lg:space-y-0">
        <div
          class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-light-grayish rounded-lg lg:mx-4 dark:bg-dark-grayish dark:border-gray-700">
          <div class="flex-shrink-0">
            <h2
              class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-400 uppercase rounded-lg bg-gray-50 dark:bg-gray-700">
              SMB
            </h2>
          </div>
          <div class="flex-shrink-0">
            <span class="pt-2 text-4xl font-bold text-dark-grayish uppercase dark:text-gray-100">
              €{{settings.websiteoneoff}}
            </span>
            <span class="text-gray-500 dark:text-gray-400">
              + VAT
            </span>
          </div>
          <ul class="flex-1 space-y-4 capitalize">
            <li class="text-gray-500 dark:text-gray-400">
              Up to 5 pages
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              Mobile Friendly Design
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              Domain Included
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              No Wordpress
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              Easy to use CMS
            </li>
          </ul>
          <a href="#contact" alt="Link to contact form"
            class="inline-flex items-center justify-center px-4 py-2 font-semibold text-white uppercase transition-colors bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none">
            Contact Us
          </button>
        </div>
        <div
          class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-light-grayish rounded-lg lg:mx-4 dark:bg-dark-grayish dark:border-gray-700">
          <div class="flex-shrink-0">
            <h2
              class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-400 uppercase rounded-lg bg-gray-50 dark:bg-gray-700">
              Pay Monthly
            </h2>
          </div>
          <div class="flex-shrink-0">
            <span class="pt-2 text-4xl font-bold text-dark-grayish uppercase dark:text-gray-100">
              €{{settings.smbpricing}}
            </span>
            <span class="text-gray-500 dark:text-gray-400">
              / month + VAT
            </span>
          </div>
          <ul class="flex-1 space-y-4 capitalize">
            <li class="text-gray-500 dark:text-gray-400">
              No Hidden Set Up fees
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              Up to 5 pages
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              Mobile Friendly Design
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              Easy to Use CMS
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              Cancel Anytime
            </li>
          </ul>
          <a href="https://buy.stripe.com/9AQfZt8zb6P52B29AD" rel="nofollow" alt="Order monthly SMB plan"
            class="inline-flex items-center justify-center px-4 py-2 font-semibold text-white uppercase transition-colors bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none">
            Order Now
         </a>
        </div>
        <div
          class="flex flex-col w-full max-w-sm p-8 space-y-8 text-center bg-white border-2 border-light-grayish rounded-lg lg:mx-4 dark:bg-dark-grayish dark:border-gray-700">
          <div class="flex-shrink-0">
            <h2
              class="inline-flex items-center justify-center px-2 font-semibold tracking-tight text-blue-400 uppercase rounded-lg bg-gray-50 dark:bg-gray-700">
              Pay Monthly E-Com
            </h2>
          </div>
          <div class="flex-shrink-0">
            <span class="pt-2 text-4xl font-bold text-dark-grayish uppercase dark:text-gray-100">
              €{{settings.ecompricing}}
            </span>
            <span class="text-gray-500 dark:text-gray-400">
              / month + VAT
            </span>
          </div>
          <ul class="flex-1 space-y-4 capitalize">
            <li class="text-gray-500 dark:text-gray-400">
              Unlimited pages
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              E-commerce enablement
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              Easy to use store & CMS
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              Advanced SEO
            </li>
            <li class="text-gray-500 dark:text-gray-400">
              Cancel Anytime
            </li>
          </ul>
          <a href="https://buy.stripe.com/14kfZtdTvc9p1wYeUW" rel="nofollow" alt="Purchase Ecommerce Monthly plan"
            class="inline-flex items-center justify-center px-4 py-2 font-semibold text-white uppercase transition-colors bg-blue-500 rounded-lg hover:bg-blue-700 focus:outline-none">
            Order Now
        </a>
        </div>
      </div>
    </div>
  </div>
</section>
