<section class="min-h-screen bg-white flex flex-col justify-evenly" id="recent-work">
    
    <div class="flex mx-auto">
      <h2 class="text-3xl font-bold text-black uppercase text-center my-12">Recent Work</h2>
    </div>
    <div class="md:grid md:grid-cols-2 md:w-5/6 mx-auto">
      <!--Left Col-->
      <div class="flex flex-col w-5/6  mx-auto">
        <img src="static/img/George-Murphy.webp" 
          class="flex rounded-2xl md:w-2/3 mx-auto" 
          alt="George Murphy Recent work for Conversegy">
        <h3 class="flex mx-auto">George Murphy Music</h3>
      </div>

      <!--Right Col-->
      <div class="flex flex-col w-5/6 mx-auto justify-evenly">
        <p class="flex">The remit was to create a simple website to promote upcoming gigs and 
          have an online store to sell CD's and merchandise.

        </p>
        <img src="https:via.placeholder.com/450X200" 
          alt=""
          class="flex">
      </div>
    </div>
  </section>