---
layout: default
title: ON YOUR MARKS. GET SET. GO!
path: home
---



<main>
  <!--Hero Section-->
  {% include "./_includes/partials/homepage/hero.html" %}

   <!--Animated blobby Section-->
   {% include "./_includes/partials/homepage/movingblobs.html" %}


  <!--Recent Work-->
  {% include "./_includes/partials/homepage/recentwork.html" %}
 
  <!--Typing Section-->
  {% include "./_includes/partials/homepage/typewriter.html" %}

   
   <!--Sliding Pricing -->
  {% include "./_includes/partials/homepage/pricing.html" %}

  

  <!--Contact Form-->
  {% include "./_includes/partials/homepage/contact.html" %}


  


 
  


</main>