<footer class="min-h-screen bottom-0 bg-black" id="footer">

    <div class="w-full container mx-auto min-h-screen flex bg-black">

        <div class="w-full md:w-2/3 mx-auto  text-white flex flex-col flex-grow justify-around">
            <div class="flex flex-col flex-grow justify-around">
                <!--Footer Heading text-->
                <div class="w-full font-bold flex flex-col flex-grow justify-center sm:mx-auto">
                    <h3 class="w-full text-3xl sm:text-5xl">Hit the big, silly, <span class="text-pink">pink</span>, button thingy & we'll get back to
                        you shortly!</h3>
                </div>

                <!--Button-->
                <div class="flex flex-grow justify-around w-full">
                    <div class="flex flex-col justify-center mx-auto">
                        <div class=" mx-auto mb-10 ">
                            <a href="/contact"
                                class="bg-bubble-gumish  text-yellow hover:text-bubble-gumish hover:bg-yellow 
                                  font-black text-center hover:border-6 hover:border-bubble-gumish
                                  shadow  py-24 px-16 mb:8 sm:p-24 text-3xl sm:text-7xl">
                                  CONTACT US
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--Bottom on Footer-->
            <div class="flex flex-col justify-between  mx-auto bottom-0">
                <div class="flex flex-row justify-between text-xs ">
                    <a href="/terms" class="block cursor-pointer  hover:text-white uppercase">Terms</a>
                    <a href="/contact"class="block cursor-pointer  hover:text-white uppercase">Contact</a>
                    <a href="privacy"class="block cursor-pointer  hover:text-white uppercase">Privacy</a>
                    <a href="/#pricing"class="block cursor-pointer  hover:text-white uppercase">Pricing</a>

                </div>
                <p class="w-full text-center text-gray-600">Copyright © {{ helpers.currentYear() }}
                    {{settings.name}}</p>
            </div>
        </div>
    </div>
</footer>