<nav class="fixed flex justify-end">
    <a href="/#recent-work" 
      class="flex bg-red-600 p-4 w-24 text-xl text-white rounded-lg hover:bg-pink-800 hover:text-black" id="work">Work</a>
    <a href="/#contact"   
      class="flex bg-blue-800 p-4 w-24 text-xl text-white rounded-lg hover:bg-pink-800 hover:text-black" id="contact">Contact</a>
      <a href="/#promo"   
      class="flex bg-green-600 p-4 w-24 text-xl text-white rounded-lg hover:bg-pink-800 hover:text-black animate-pulse" id="contact">Promo</a>
</nav>
